@model MakeCurriculum.Models.Academic

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Editar Formação Acadêmica</h4>
        </div>
        <div class="form-group">
            <form asp-action="Edit">
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="CurriculumId" />
                    <div class="form-group">
                        <label asp-for="CoursesType" class="control-label"></label>
                        <select asp-for="CoursesTypeId" class="form-control" asp-items="@ViewBag.items"></select>
                        <span asp-validation-for="CoursesTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseName" class="control-label"></label>
                        <input asp-for="CourseName" class="form-control" />
                        <span asp-validation-for="CourseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Institution" class="control-label"></label>
                        <input asp-for="Institution" class="form-control" />
                        <span asp-validation-for="Institution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartYear" class="control-label"></label>
                        <input asp-for="StartYear" class="form-control" />
                        <span asp-validation-for="StartYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndYear" class="control-label"></label>
                        <input asp-for="EndYear" class="form-control" />
                        <span asp-validation-for="EndYear" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                    <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
