@model MakeCurriculum.Models.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h2 class="text-danger">Ocorreu um erro:</h2>
<h3 class="text-danger">Você precisa dos cookies habilitados para acessar conseguir logar.</h3>
<h3 class="text-danger">Desative a navegação anônima ou habilite os cookies em seu navegador.</h3>


