@model MakeCurriculum.Models.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1>@ViewBag.id</h1>
<h2 class="text-danger">Ocorreu um erro:</h2>
<h3 class="text-danger">Você precisa dos cookies habilitados para conseguir logar.</h3>
<h3 class="text-danger">Ative os cookies e faça login novamente.</h3>


