@model MakeCurriculum.Models.Resume

@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Excluir Resumo</h4>
        </div>
        <form asp-action="Delete">
            <div class="modal-body">
                <p>Confirmar a exclusão do resumo?</p>
                <p>@Model.Description</p>
                <div class="form-horizontal">
                    <input type="hidden" asp-for="Id" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
                <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
        </form>
    </div>
</div>
