@model MakeCurriculum.Models.ViewModels.ObjectiveViewModel

<h4 class="text-info text-center">Novo Objetivo</h4>
<div class="col-md-10 col-md-offset-1">
    <form asp-action="Create" asp-controller="Objectives" method="post">
        <div class="form-group">
            <label asp-for="Objective.Description" class="control-label"></label>
            <textarea asp-for="Objective.Description" class="form-control"></textarea>
            <span asp-validation-for="Objective.Description" class="text-danger"></span>
        </div>
        <div class="form-group text-right">
            <input asp-for="Objective.CurriculumId" value="@Model.Curriculum.Id" type="hidden" />
            <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
        </div>
    </form>
</div>