@model ICollection<MakeCurriculum.Models.Objective>

    <ul>
        @foreach (var item in Model)
        {
            <li class="h4 list-group">
                <div class="col-md-10 col-sm-8 col-xs-6">
                    @item.Description
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="editObj" data-id="@item.Id"><i class="glyphicon glyphicon-edit btn btn-warning btn-sm"></i></a>
                    <a class="deleteObj" data-id="@item.Id"><i class="glyphicon glyphicon-trash btn btn-danger btn-sm"></i></a>
                </div>
                <hr />
            </li>
        }
    </ul>