@using MakeCurriculum.Models.ViewModels
@model MakeCurriculum.Models.Curriculum

@{
    ViewData["Title"] = "Currículo " + Model.Name;
}

<h2 class="text-info text-center">Novo currículo</h2>
<hr />
<p>
    <a class="btn btn-primary btn-sm create">PDF</a>
</p>

<div class="container">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="h3">
                            <span class="glyphicon glyphicon-screenshot"></span> Objetivos
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <partial name="_Objectives" model="Model.Objectives" />
                        <partial name="_CreateObjective" model="@new ObjectiveViewModel() {Curriculum = Model, Objective = new Objective()}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="h3">
                            <span class="glyphicon glyphicon-education"></span> Formação Acadêmica
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <partial name="_Academics" model="Model.Academics" />
                        <partial name="_CreateAcademic" model="@new AcademicViewModel() {Curriculum = Model, Academic = new Academic()}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="h3">
                            <span class="glyphicon glyphicon-briefcase"></span> Experiências Profissionais
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <partial name="_Exps" model="Model.ProfessionalExps" />
                        <partial name="_CreateExp" model="@new ProfessionalExpViewModel() {Curriculum = Model, ProfessionalExp = new ProfessionalExp()}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="h3">
                            <span class="glyphicon glyphicon-globe"></span> Idiomas
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <partial name="_Langs" model="Model.Languages" />
                        <partial name="_CreateLang" model="@new LanguageViewModel() {Curriculum = Model, Language = new Language()}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" role="dialog"></div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $(".editObj").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Objectives/Edit?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });
        $(function () {
            $(".deleteObj").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Objectives/Delete?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });

        $(function () {
            $(".editAcad").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Academics/Edit?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });
        $(function () {
            $(".deleteAcad").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Academics/Delete?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });

        $(function () {
            $(".editExp").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/ProfessionalExps/Edit?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });
        $(function () {
            $(".deleteExp").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/ProfessionalExps/Delete?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });

        $(function () {
            $(".editLang").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Languages/Edit?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });
        $(function () {
            $(".deleteLang").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Languages/Delete?Id=" + id, function () {
                    $("#modal").modal();
                })
            })
        });
    </script>
}
