@model X.PagedList.IPagedList<MakeCurriculum.Models.LoginInformation>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common

@{
    ViewData["Title"] = "Informações de login";
}

<h2 class="text-info text-center">Informações de login</h2>
<hr />
<p>
    <a asp-action="DataDownload" class="btn btn-primary btn-sm">Exportar para Excel</a>
</p>

<table class=" table table-striped table-hover">
    <thead>
        <tr>
            <th>Endereço IP</th>
            <th>Data de login</th>
            <th>Horário de login</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ip)</td>
                <td>@TimeZoneInfo.ConvertTime(item.LoginDate, TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time")).ToShortDateString()</td>
                <td>@TimeZoneInfo.ConvertTime(item.LoginDate, TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time")).ToShortTimeString()</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", "LoginInformations", new { page }), new PagedListRenderOptionsBase
{
ContainerDivClasses = new string[] { "text-center" },
LiElementClasses = new string[] { "page-item" },
PageClasses = new string[] { "page-link" }
})